.venv/
site/
__pycache__/
*.pyc
.idea/
.vscode/
.gitignore
urban_ai_lab_architecture_agent_instructions.md
urbain_ai_lab_instructions.md
urban_ai_lab_l0_l1_l2_agent_instructions.md
urban_ai_lab_l0_l1_l2_agent_instructions.md